.weather-container {
  margin-top: 20px;
}

.loading {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.error {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
